html {
  font-size: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body, html {
  overflow-x: hidden;
  line-height: 1.1 !important;
  scroll-behavior: smooth;
}

:root {
  --bg-secondary: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
  --bg-primary: #00bcd4;
  --box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  --gray: #f7f7f7;
}

a {
  text-decoration: none;
  transition: all 0.6s ease;
}

a, button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.icon {
  color: #fff;
  background-color: var(--bg-primary);
  padding: 35px;
  font-size: 125%;
  border-radius: 50%;
}

p {
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 25px;
  color: #6a6a6a;
  margin-bottom: 0 !important;
}

h1 {
  font-size: 44px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 0;
  font-size: 120%;
}

h5 {
  font-size: 20px;
  text-transform: capitalize;
}
h5 span {
  display: block;
  color: var(--bg-primary);
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

h6 {
  color: var(--bg-primary);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.6rem !important;
}

.btn {
  transition: all 0.6s ease-in-out;
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 0.5px;
  border-radius: 0 !important;
}

form input, form textarea {
  padding: 5px 11px 13px 15px;
  outline: none;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 100;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 100;
}
form input::placeholder, form textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 100;
}
form .btn {
  padding: 11px 17px;
  font-size: 0.6rem;
  font-weight: 500;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
  border: 2px solid var(--bg-primary);
}
.bg-primary:hover {
  background-color: #00a4b9 !important;
  border-color: #00a4b9;
}

/* Start Header */
header {
  background: transparent;
  border-bottom: 1px solid #767676;
  width: 100%;
  position: fixed;
  z-index: 99999;
  transition: all 0.5s ease;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 24px 0;
}
header .navbar .logo {
  padding-top: 3px;
}
header .navbar .logo a {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}
header .navbar .logo a span {
  font-size: medium;
}
header .navbar .menu {
  display: flex;
  align-items: center;
  gap: 87px;
}
header .navbar .menu ul {
  list-style: none;
  display: flex;
  gap: 47px;
  align-items: center;
}
header .navbar .menu ul li a {
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: all 0.6s ease;
  line-height: 22px;
}
header .navbar .menu ul li:hover a, header .navbar .menu ul li .active {
  color: var(--bg-primary);
}
header .navbar .menu .btns .btn {
  font-size: 0.5rem;
  padding: 6px 20px;
}
header .navbar .menu .btns .bg-secondary {
  background-color: transparent !important;
  border: 2px solid #fff;
}
header .navbar .menu .btns .bg-secondary:hover {
  color: var(--bg-primary) !important;
  background-color: #fff !important;
}
header .navbar .menu .btns .bg-primary {
  margin-left: 8px;
}

/* End Header */
/* Start Banner */
.banner {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner .banner-items {
  height: 125vh;
}
.banner .banner-items h2 {
  margin: 6px 0 50px 0;
  letter-spacing: 1px;
}
.banner .banner-items form .search {
  gap: 20px;
  transition: all 0.6s ease;
}
.banner .banner-items form .search input {
  background-color: transparent;
  width: 51%;
  border: 1px solid #fff;
}
.banner .banner-items form .search input::-moz-placeholder {
  color: #fff;
}
.banner .banner-items form .search input:-ms-input-placeholder {
  color: #fff;
}
.banner .banner-items form .search input::placeholder {
  color: #fff;
}
.banner .banner-items form ul {
  gap: 24px;
  margin: 26px 14px 0 5px;
}
.banner .banner-items form ul li {
  color: #fff;
  margin-left: 10px;
}
.banner .banner-items form ul li input[type=checkbox] {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 1.6px;
}
.banner .banner-items form ul li label {
  font-weight: 600;
  font-size: 0.6rem;
}
.banner .banner-items form ul li label span {
  font-weight: 400;
  font-size: 16px;
}

/* End Banner */
/* Start Trusted */
.trusted {
  padding: 2rem 0 1rem 0;
  background-color: var(--color-gray);
}
.trusted .trusted-items h6 {
  margin-bottom: 3%;
  font-size: 0.7rem !important;
  color: black;
}
.trusted .trusted-items .imgs-trusted img {
  margin: 2% 5%;
}

/* End Trusted */
/* Start Services */
.services .hosting-services {
  margin: 143px 0 80px 0;
}
.services .hosting-services h3 {
  padding: 5px 0;
}
.services .hosting-services p {
  font-weight: 400;
}
.services ul {
  display: flex;
  gap: 38px;
  justify-content: center;
  flex-wrap: wrap;
}
.services ul li {
  background-color: var(--color-gray);
  padding: 50px 30px;
  text-align: center;
  border-radius: 2%;
  width: 338px;
}
.services ul li h5 {
  font-weight: 500;
  margin: 14% 0;
}
.services ul li p a {
  color: #007bff;
}

/* End Services */
/* Start Cloud Hosting */
.cloud-hosting {
  background-image: url(../images/pricing-bg.jpg);
  background-repeat: no-repeat;
  background-size: 54em 19.8em;
  margin: 170px 0;
}
.cloud-hosting .intro-cloud {
  padding-top: 65px;
}
.cloud-hosting .intro-cloud h3 {
  font-size: 32px;
}
.cloud-hosting .intro-cloud p {
  font-weight: 400;
}
.cloud-hosting .intro-cloud h3, .cloud-hosting .intro-cloud p {
  color: #fbfbfb;
}
.cloud-hosting .price-cloud {
  gap: 30px;
  margin-top: 84px;
}
.cloud-hosting .price-cloud .price {
  box-shadow: var(--box-shadow);
  padding: 46.5px;
}
.cloud-hosting .price-cloud .price .info-price {
  width: 250px;
}
.cloud-hosting .price-cloud .price .info-price h5 {
  margin: 5px 0 40px 0;
  font-size: 17px;
}
.cloud-hosting .price-cloud .price .info-price h4 {
  padding: 30px 0;
  color: #fff;
  font-size: 31px;
}
.cloud-hosting .price-cloud .price .info-price h4 span {
  font-size: 14px;
  margin-top: 5px;
}
.cloud-hosting .price-cloud .price .info-price p {
  margin: 37px 0 32.5px 0;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}
.cloud-hosting .price-cloud .price .info-price ul {
  text-align: left;
  margin-top: 65px;
}
.cloud-hosting .price-cloud .price .info-price ul li {
  font-size: 16px;
  font-weight: 300;
  color: #6a6a6a;
  text-transform: capitalize;
  margin: 25px 0;
}
.cloud-hosting .price-cloud .price .info-price ul li i {
  margin-right: 8px;
  color: #491bb1;
  font-size: 15px;
}
.cloud-hosting .price-cloud .price button {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 23px;
  margin: 21px 0 0 -73px;
  border: none;
}
.cloud-hosting .price-cloud .price:first-of-type .info-price h4, .cloud-hosting .price-cloud .price:last-of-type .info-price h4 {
  background: var(--bg-primary);
}
.cloud-hosting .price-cloud .price:nth-of-type(2) .info-price h4, .cloud-hosting .price-cloud .price:nth-of-type(2) button {
  background: var(--bg-secondary);
}
.cloud-hosting .price-cloud .price:nth-of-type(2) button:hover {
  background: linear-gradient(145deg, rgb(50, 100, 245) 0%, rgb(114, 2, 187) 100%);
}

/* End Cloud Hosting */
/* Start Cloud Features */
.cloud-features {
  margin-top: 10%;
}
.cloud-features .features-items {
  gap: 36px;
  margin-top: 55px;
}
.cloud-features .features-items .item {
  gap: 33.3px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 48%;
}
.cloud-features .features-items .item img {
  width: 73px;
  height: 60px;
}
.cloud-features .features-items .item .info {
  width: 79.3%;
}
.cloud-features .features-items .item .info h5 {
  margin: 5px 0 10px 0;
}

/* End Cloud Features */
.heading {
  background-image: url(../images/heading-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading .heading-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 505px;
}
.heading .heading-items h1 {
  margin: 50px 0 23px 0;
}
.heading .heading-items .link-home {
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.heading .heading-items .link-home a {
  line-height: 20px;
  margin-right: 5px;
}
.heading .heading-items .link-home span {
  margin-left: 5px;
  font-size: 14px;
  color: #d3ccf5;
}
.heading .heading-items .link-home, .heading .heading-items a {
  color: #fff;
  font-size: 15px;
}

.our-company {
  padding: 150px 0;
  background-color: var(--color-gray);
}
.our-company .company-items {
  gap: 90px;
}
.our-company .company-items .left-item {
  width: 40%;
}
.our-company .company-items .left-item h6 {
  margin-bottom: 0;
}
.our-company .company-items .left-item h3 {
  padding-top: 15px;
}
.our-company .company-items .left-item .links-info {
  gap: 40px;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: capitalize;
  border-top: 3px solid #eee;
  margin: 40px 0;
  padding-top: 40px;
}
.our-company .company-items .left-item .links-info a {
  color: black;
}
.our-company .company-items .left-item .links-info .active {
  color: var(--bg-primary);
}
.our-company .company-items .left-item p {
  font-size: 0.5rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
}

.our-team {
  margin-top: 145px;
}
.our-team .team-items p {
  width: 60%;
}
.our-team .team-items .team-cards {
  gap: 30px;
  margin-top: 83px;
}
.our-team .team-items .team-cards .team {
  background-color: var(--color-gray);
  transition: all 0.5s ease;
  width: 347px;
}
.our-team .team-items .team-cards .team:hover {
  opacity: 0.8;
}
.our-team .team-items .team-cards .team img {
  width: 100%;
}
.our-team .team-items .team-cards .team h5 {
  font-size: 19px !important;
  font-weight: 600;
  margin: 30px 0;
}

.contact-us .contact-items {
  gap: 4%;
  padding: 155px 0;
}
.contact-us .contact-items form {
  width: 47.5% !important;
}
.contact-us .contact-items form input {
  border: 1px solid #ccc;
}
.contact-us .contact-items form textarea {
  padding-top: 15px;
  resize: none;
}
.contact-us .contact-items form input, .contact-us .contact-items form textarea {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.contact-us .contact-items form input::-moz-placeholder, .contact-us .contact-items form textarea::-moz-placeholder {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: rgb(116, 115, 115);
}
.contact-us .contact-items form input:-ms-input-placeholder, .contact-us .contact-items form textarea:-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: rgb(116, 115, 115);
}
.contact-us .contact-items form input::placeholder, .contact-us .contact-items form textarea::placeholder {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: rgb(116, 115, 115);
}
.contact-us .contact-items form .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contact-us .contact-items .info-contact {
  width: 48.5% !important;
}
.contact-us .contact-items .info-contact p {
  font-weight: 400;
}
.contact-us .contact-items .info-contact ul {
  gap: 30px 25px;
  width: 520px;
  border-top: 3px solid #eee;
  padding-top: 40px;
  margin-top: 40px;
}
.contact-us .contact-items .info-contact ul li {
  width: 247.1px;
}
.contact-us .contact-items .info-contact ul li .icon {
  padding: 18px;
  font-size: 100%;
  margin-right: 13px;
}
.contact-us .contact-items .info-contact ul li span {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Start Testimonials */
.testimonials {
  text-align: center;
  margin-top: 165px;
  background-color: var(--color-gray);
  padding: 115px 0;
}
.testimonials .intro-testimonials h6 {
  color: var(--bg-primary);
  font-weight: 400;
  font-size: 14.5px;
}
.testimonials .intro-testimonials h3 {
  font-size: 30px;
}
.testimonials .testimonials-items i {
  background: var(--bg-secondary);
  color: #fff;
  padding: 20px;
  border-radius: 50%;
  margin: 70px 0 45px 0;
  font-size: 20px;
}
.testimonials .testimonials-items q {
  display: block;
  width: 85%;
  font-size: 0.7rem;
  line-height: 40px;
  margin: 0 auto;
  color: #6a6a6a;
  font-weight: 300;
  font-style: italic;
}
.testimonials .testimonials-items h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 55px 0;
}
.testimonials .testimonials-items ul {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.testimonials .testimonials-items ul li {
  background-color: #7bd9e5;
  padding: 4px;
  margin: 0 2px;
  border-radius: 50%;
}
.testimonials .testimonials-items ul li.active {
  background: var(--bg-primary);
}

/* End Testimonials */
/* Start Footer */
footer {
  background-image: url(..//images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-items {
  display: flex;
  gap: 71.6px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0;
}
footer .footer-items .item:last-child a {
  text-transform: none;
}
footer .footer-items .item h4, footer .footer-items .item a, footer .footer-items .item p, footer .footer-items .item span {
  color: #fff;
  text-transform: capitalize;
}
footer .footer-items .item h4 {
  font-size: 20px;
  margin-bottom: 30px;
}
footer .footer-items .item p {
  width: 277px;
}
footer .footer-items .item span {
  font-weight: 500;
  font-size: 15px;
}
footer .footer-items .item li {
  margin-bottom: 2px;
}
footer .footer-items .item li a {
  font-size: 15px;
  font-weight: 300;
}
footer .footer-items .item li a:hover {
  opacity: 0.75;
}
footer .copyright {
  text-align: center;
  padding: 60px 0;
  border-top: 1px solid #7a7474;
}
footer .copyright p {
  color: #fff;
  font-size: 13.6px;
}

/* End Footer */
@media screen and (max-width: 320px) {
  html {
    font-size: 21px;
  }
  .banner .banner-items {
    padding-top: 70px;
  }
  .banner ul {
    flex-direction: column;
  }
  .trusted h6 {
    margin-bottom: 15% !important;
  }
  .cloud-hosting {
    background-size: 54em 21.8em;
  }
  .cloud-hosting .price {
    padding: 40px 20px 47px 20px !important;
    width: 100%;
  }
  .cloud-hosting .price .info-price {
    width: 100% !important;
  }
  footer p {
    width: 100% !important;
  }
}
@media screen and (max-width: 375px) {
  .cloud-hosting .price {
    padding: 30.5px;
  }
}
@media screen and (max-width: 517px) {
  .cloud-features .item {
    flex-direction: column;
  }
  .cloud-features .info {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 574px) {
  .banner input {
    width: 100% !important;
  }
  .our-company img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 321px) {
  .trusted h6 {
    margin-bottom: 8% !important;
  }
}
@media screen and (max-width: 767px) {
  .banner ul {
    text-align: center;
  }
  .cloud-features .item {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  .our-company .left-item {
    width: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  header .navbar {
    flex-direction: column !important;
    justify-content: center;
  }
  header .menu {
    display: block !important;
  }
  .banner .btn {
    margin-top: 10px;
  }
  footer .item {
    width: 100%;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .banner .btn {
    padding: 0.6rem 2.5rem !important;
  }
  .cloud-hosting .intro-cloud {
    width: 88%;
  }
  .cloud-features .item {
    width: 82% !important;
  }
  .our-company .left-item {
    width: 77% !important;
  }
}
@media screen and (max-width: 1199px) {
  .cloud-hosting .price {
    margin: 0 0 40px 0 !important;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1148px !important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .our-company .left-item {
    width: 57% !important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 425px) {
  .banner .btn {
    padding: 15px 90px !important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 575px) {
  .banner input {
    width: 79% !important;
  }
}
:root {
  --bg-secondary: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
  --bg-primary: #00bcd4;
  --box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  --color-gray: #f7f7f7;
}/*# sourceMappingURL=style.css.map */