/* Start Header */
header {
  background: transparent;
  border-bottom: 1px solid #767676;
  width: 100%;
  position: fixed;
  z-index: 99999;
  transition: all .5s ease;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 24px 0;

    .logo {
      padding-top: 3px;

      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;

        span {
          font-size: medium;
        }
      }
    }

    .menu
    {
      display: flex;
      align-items: center;
      gap: 87px;

      ul {
        list-style: none;
        display: flex;
        gap: 47px;
        align-items: center;
      
        li {
          // line-height: 11px;

          a {
            text-transform: capitalize;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
            transition: all 0.6s ease;
            line-height: 22px;
          }
      
          &:hover a, .active {
            color: var(--bg-primary);
          }
        }
      }

      .btns {

        .btn {
          font-size: 0.5rem;
          padding: 6px 20px;
        }

        .bg-secondary {
          background-color: transparent !important;
          border: 2px solid #fff;
    
          &:hover {
            color: var(--bg-primary) !important;
            background-color: #fff !important;
          }
        }
    
        .bg-primary {
          margin-left: 8px;
        }
      }
    }
  }
}
/* End Header */


/* Start Banner */
.banner {
  // width: 100%;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .banner-items {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    height: 125vh;
    // width: 100%;

    h2 {
      // text-transform: uppercase;
      margin: 6px 0 50px 0;
      letter-spacing: 1px;
    }

    form {

      .search {
        gap: 20px;
        transition: all .6s ease;

        input {
          background-color: transparent;
          // padding: 6px 10px 14px 15px;
          width: 51%;
          border: 1px solid #fff;
          // outline: none;

          &::placeholder {
            color: #fff;
            // font-size: 0.6rem;
            // letter-spacing: 0.5px;
            // font-weight: 100;
          }
        }

        // .btn {
        //   padding: 11px 17px;
        //   font-size: .6rem;
        //   font-weight: 500;
        // }
      }

      ul {
        gap: 24px;
        margin: 26px 14px 0 5px;

        li {
          color:#fff;
          margin-left: 10px;

          input[type=checkbox] {
            width: 18px;
            min-width: 18px;
            height: 18px;
            margin-right: 1.6px;
          }

          label {
            font-weight: 600;
            font-size: 0.6rem;

            span {
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
/* End Banner */


/* Start Trusted */
.trusted {
  padding: 2rem 0 1rem 0;
  background-color: var(--color-gray);

  .trusted-items {
    // text-align: center;

    h6 {
      margin-bottom: 3%;
      font-size: 0.7rem !important;
      color: black;
    }

    .imgs-trusted {

      img {
        margin: 2% 5%;
      }
    }
  }
}
/* End Trusted */


/* Start Services */
.services {

  .hosting-services {
    margin: 143px 0 80px 0;

    h3 {
      padding: 5px 0;
    }

    p {
        font-weight: 400;
    }
  }

  ul {
    display: flex;
    gap: 38px;
    justify-content: center;
    flex-wrap: wrap;

    li {
      background-color: var(--color-gray);
      padding: 50px 30px;
      text-align: center;
      border-radius: 2%;
      width: 338px;

      // i {
      //   color: #fff;
      //   background-color: var(--bg-primary);
      //   padding: 35px;
      //   font-size: 125%;
      //   border-radius: 50%;
      // }

      h5 {
        font-weight: 500;
        margin: 14% 0;
      }

      p {
        a {
          color: #007bff;
        }
      }
    }
  }
}
/* End Services */


/* Start Cloud Hosting */
.cloud-hosting {
  background-image: url(../images/pricing-bg.jpg);
  background-repeat: no-repeat;
  background-size: 54em 19.8em;
  margin: 170px 0;

  .intro-cloud {
    // width: 74%;
    // text-align: center;
    padding-top: 65px;
    // margin: 0 auto;

    h3 {
      font-size: 32px;
    }

    p {
      font-weight: 400;
      // font-size: .6rem;
    }

    h3, p {
      color: #fbfbfb;
    }
  }

  .price-cloud {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    gap: 30px;
    margin-top: 84px;

    .price {
      // position: relative;
      // text-align: center;
      box-shadow: var(--box-shadow);
      // background-color: white;
      padding: 46.5px;

      .info-price {
        // text-align: center;
        width: 250px;

        h5 {
          // text-transform: uppercase;
          margin: 5px 0 40px 0;
          font-size: 17px;
        }

        h4 {
          padding: 30px 0;
          color: #fff;
          font-size: 31px;

          span {
            // display: block;
            font-size: 14px;
            margin-top: 5px;
            // text-transform: uppercase;
          }
        }

        p {
          margin: 37px 0 32.5px 0;
          line-height: 22px;
          font-size: 14px;
          font-weight: 400;
        }
        
        ul {
          text-align: left;
          margin-top: 65px;

          li {
            font-size: 16px;
            font-weight: 300;
            color: #6a6a6a;
            text-transform: capitalize;
            margin: 25px 0;
          
            i {
              margin-right: 8px;
              color: #491bb1;
              font-size: 15px;
            }
          }
        }
      }

      button {
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 23px;
        margin: 21px 0 0 -73px;
        border: none;
      }

      &:first-of-type .info-price h4,
      &:last-of-type .info-price h4 {
        background: var(--bg-primary);
      }

      &:nth-of-type(2) .info-price h4,
      &:nth-of-type(2) button {
        background: var(--bg-secondary);
      }

      &:nth-of-type(2) button:hover {
        background: linear-gradient(145deg, rgba(50,100,245,1) 0%, rgba(114,2,187,1) 100%);
      }
    }
  }
}
/* End Cloud Hosting */


/* Start Cloud Features */
.cloud-features {
  margin-top: 10%;

  // .intro-features {
  //   // text-align: center;

  //   // h6 {
  //   //   color: var(--bg-primary);
  //   // }
  // }

  .features-items {
    // display: flex;
    gap: 36px;
    // flex-wrap: wrap;
    margin-top: 55px;
    // justify-content: center;

    .item {
      // display: flex;
      gap: 33.3px;
      // align-items: center;
      // background-color: white;
      box-shadow: var(--box-shadow);
      padding: 30px;
      width: 48%;

      img {
        width: 73px;
        height: 60px;
      }

      .info {
        width: 79.3%;

        h5 {
          // text-transform: capitalize;
          margin: 5px 0 10px 0;
        }
      }
    }
  }
}
/* End Cloud Features */


// Start heading
.heading {
  background-image: url(../images/heading-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .heading-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 505px;

    h1 {
      margin: 50px 0 23px 0;
    }

    .link-home {

      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: .3px;

      a {
        line-height: 20px;
        margin-right: 5px;
      }

      span {
        margin-left: 5px;
        font-size: 14px;
        color: #d3ccf5;
      }
    }

    .link-home, a {
      color: #fff;
      font-size: 15px;
    }
  }
}
// End heading


// Start Our Company
.our-company {
  padding: 150px 0;
  background-color: var(--color-gray);

  .company-items {
    gap: 90px;

    .left-item { 
    width: 40%;

      h6 {
        margin-bottom: 0;
      }

      h3 {
        padding-top: 15px;
      }

      .links-info {
        gap: 40px;
        font-size: 0.7rem;
        font-weight: 600;
        text-transform: capitalize;
        border-top: 3px solid #eee;
        margin: 40px 0;
        padding-top: 40px;

        a {
          color: black;
        }
        
        .active {
          color: var(--bg-primary);
        }
      }

      p {
        font-size: .5rem !important;
        font-weight: 400 !important;
        letter-spacing: .5px;
      }
    }
  }
}
// End Our Company


// Start Our Team
.our-team {
  margin-top: 145px;

  .team-items {

    p {
      width: 60%;
    }
    
    .team-cards {
      gap: 30px;
      margin-top: 83px;

      .team {
        background-color: var(--color-gray);
        transition: all .5s ease;
        width: 347px;
        // width: 31%;

        &:hover {
          opacity: .8;
        }

        img {  
          width: 100%;
        }

        h5 {
          font-size: 19px !important;
          font-weight: 600;
          margin: 30px 0;
        }
      }
    }
  }
}
// End Our Team


// Start Contact Us
.contact-us {
  .contact-items {    
    gap: 7.3%;
    padding: 155px 0;

    form {
      // width: 47.5% !important;
      width: 509px !important;

      input {
        // width: 51%;
        border: 1px solid #ccc;
        // outline: none;
      }

      textarea {
        padding-top: 15px;
        resize: none;
      }

      input, textarea {
        width: 100%;

        margin-bottom: 30px;
        // padding: 6px 10px 14px 15px;
        // width: 120%;
        border: 1px solid #ddd;
        // outline: none;

        &::placeholder {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 14px;
          color: rgb(116, 115, 115);
        }
      }

      .btn {
        width: fit-content;
      }
    }

    .info-contact {
      width: 520px;

      // width: 48.5% !important;


      p {
        font-weight: 400;
        // width: 445px;
      }

    
      ul {
        gap: 30px 25px;
        border-top: 3px solid #eee;
        padding-top: 40px;
        margin-top: 40px;

        li {
          width: 247.1px;

          .icon{
            padding: 18px;
            font-size: 100%;
            margin-right: 13px;
          }

          span {
            font-size: 15px;
            font-weight: 700;
            letter-spacing: .5px;
          }
        }
      }
    }
  }
}
// End Contact Us

/* Start Testimonials */
.testimonials {
  text-align: center;
  margin-top: 165px;
  background-color: var(--color-gray);
  padding: 115px 0;

  .intro-testimonials {

    h6 {
      color: var(--bg-primary);
      font-weight: 400;
      font-size: 14.5px;
    }

    h3 {
      font-size: 30px;
    }
  }

  .testimonials-items {

    i {
      background: var(--bg-secondary);
      color: #fff;
      padding: 20px;
      border-radius: 50%;
      margin: 70px 0 45px 0;
      font-size: 20px;
    }

    q {
      display: block;
      width: 85%;
      font-size: .7rem;
      line-height: 40px;
      margin: 0 auto;
      color: #6a6a6a;
      font-weight: 300;
      font-style: italic;
    }

    h5 {
      font-size: 20px;
      font-weight: 500;
      margin: 30px 0 55px 0;

      // span {
      //   display: block;
      //   color: var(--bg-primary);
      //   font-size: 15px;
      //   font-weight: 400;
      //   margin-top: 10px;
      // }
    }

    ul {
      display: flex;
      gap: 5px;
      justify-content: center;
    
      li {
        background-color: #7bd9e5;
        padding: 4px;
        margin: 0 2px;
        border-radius: 50%;
    
        &.active {
          background: var(--bg-primary);
        }
      }
    }
  }
}
/* End Testimonials */


/* Start Footer */
footer {
  background-image: url(..//images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .footer-items {
    display: flex;
    gap: 71.6px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0;

    .item {

      &:last-child a {
        text-transform: none;
      }

      h4, a, p, span {
        color: #fff;
        text-transform: capitalize;
      }

      h4 {
        font-size: 20px;
        margin-bottom: 30px;
      }

      p {
        width: 277px;
      }

      span {
        font-weight: 500;
        font-size: 15px;
      }

      li {
        margin-bottom: 2px;
      
        a {
          font-size: 15px;
          font-weight: 300;
      
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    padding: 60px 0;
    border-top: 1px solid #7a7474;
  
    p {
      color: #fff;
      font-size: 13.6px;
    }
  }
}
/* End Footer */