@media screen and (max-width: 320px) {
  html {
    font-size: 21px;
  }

  .banner {
    ul {
      flex-direction: column;
    }
  }

  .trusted { 
    h6 {
      margin-bottom: 15% !important;
    }
  }

  .cloud-hosting {
    background-size: 54em 21.8em;
    
    .price {
      padding: 40px 20px 47px 20px !important;
      width: 100%;

      .info-price {
        width: 100% !important;
      }
    }
  }

  footer {
    p {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 330px) {
  .banner {
    .banner-items {
      padding-top: 177px;
    }
  }
}

@media screen and (max-width: 375px) {
  .cloud-hosting {   
    .price {
      padding: 30.5px;
    }
  }
}

@media screen and (max-width: 388px) {
  .banner {
    li {
      width: 115px;
    }
  }
}

@media screen and (max-width: 465px) {
  header {
    .btns {
      order: 2 !important;
      display: none !important;
      width: 100%;

      &.active {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        position: absolute;
        top: 313px;
        z-index: 900;
        height: 70px;

        .btn:first-of-type {
          border: 2px solid var(--bg-primary);
          color: var(--bg-primary) !important;

          &:hover {
          background-color: var(--color-gray) !important;
          }  
        }
      }
    }

    .toggleMenu {
      order: 1 !important;
    }
  }
}

@media screen and (max-width: 517px) {
  .cloud-features {   
    .item {
      flex-direction: column;
    }
  }

  .cloud-features { 
    .info {
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 530px) {
  header {
    .btns {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 574px) {
  .banner {    
    input {
      width: 100% !important;
    }
  }

  .our-company{
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 321px) {
  .trusted {    
    h6 {
      margin-bottom: 8% !important;
    } 
  }
}

@media screen and (max-width: 767px) and (min-width: 389px) {
  .banner {
    li {
      width: 144px;
    }
  }
}  

@media screen and (max-width: 767px) {
  .banner {
    ul {
      text-align: center;
    }
  }

  .cloud-features {
    .item {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .our-company {
    .left-item {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 531px) {
  header {
    .navbar {
      position: relative;

      .navLinks {
        display: none;
        margin: auto !important;
        order: 3;

        &.active {
          background-color: var(--color-white);
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0 !important;
          position: absolute;
          top: 81px;
          z-index: 900;
          padding: 0 10px;

          a {
            color: #151414;
            height: 58px;
            border-bottom: 1px solid #f1eeee;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
              color: var(--bg-primary);
            }
          }
        }
      }

      .btns {
        margin-right: 24px;
        order: 1;
        display: block;
      }

      .toggleMenu {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        background-color: var(--color-white);        
        order: 2;
        height: 36px;
        width: 56px;

        span {
          display: inline-block;
          background: #2ac3d6;
          height: 3px;
          width: 15px;
          position: relative;

          &::before, &::after {
            display: inline-block;
            position: absolute;
            content: "";
            background: #2ac3d6;
            height: 3px;
            width: 15px;
          }

          &::before {
            top: 5px;
          }

          &::after {
            top: -5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .navbar {
      position: relative;

      .navLinks {
        display: none;
        margin: auto !important;
        order: 3;

        &.active {
          background-color: var(--color-white);
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0 !important;
          position: absolute;
          top: 81px;
          z-index: 900;
          padding: 0 10px;

          a {
            color: #151414;
            height: 58px;
            border-bottom: 1px solid #f1eeee;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
              color: var(--bg-primary);
            }
          }
        }
      }

      .btns {
        margin-right: 24px;
        order: 1;
        display: block;
      }

      .toggleMenu {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        background-color: var(--color-white);        
        order: 2;
        height: 36px;
        width: 56px;
        transition: all 0.6s ease;

        span {
          display: inline-block;
          background: #2ac3d6;
          height: 3px;
          width: 15px;
          position: relative;

          &::before, &::after {
            display: inline-block;
            position: absolute;
            content: "";
            background: #2ac3d6;
            height: 3px;
            width: 15px;
          }

          &::before {
            top: 5px;
          }

          &::after {
            top: -5px;
          }
        }
      }
    }
  }

  .banner {   
    .btn {
      margin-top: 10px;
    }
  }

  footer {   
    .item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .banner {
    .btn {
      padding: .6rem 2.5rem !important;
    }
  }

  .cloud-hosting {
    .intro-cloud {
      width: 88%;
    }    
  }

  .cloud-features {    
    .item {
      width: 82% !important;
    }
  }

  .our-company {
    .left-item {
      width: 77% !important;
    }
  }
}

@media screen and (max-width: 1199px) {
  header {
    .navbar {
      max-width: 990px !important;
    
      .navLinks {
        margin: 5px 0 0 40px;
      }
    }
  }
}


@media screen and (max-width: 1199px) {
  .cloud-hosting {    
    .price {
      margin: 0 0 40px 0 !important;
    }
  }
}
@media (max-width: 1200px) {
  .contact-us {
    form {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1148px !important;
  }
}


@media screen and (max-width: 1200px) and (min-width: 992px) {
  .our-company {
    .left-item {
      width: 57% !important;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 425px) {
  .banner {
    .btn {
      padding: 15px 90px !important;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 575px) {
  .banner {
    input {
      width: 79% !important;
    }
  }
}